In [1]:
"dsaf sdf".split()

['dsaf', 'sdf']

In [4]:
import dask

In [5]:
import dask.dataframe as dd

In [6]:
df = dd.read_csv("/Users/cyn0/entity-matching/datasets/restaurants/fodors.csv")

In [7]:
df

Dask DataFrame Structure:
                  id    name    addr    city   phone    type  class
npartitions=1
               int64  object  object  object  object  object  int64
                 ...     ...     ...     ...     ...     ...    ...
Dask Name: from-delayed, 3 tasks

In [8]:
df

Dask DataFrame Structure:
                  id    name    addr    city   phone    type  class
npartitions=1
               int64  object  object  object  object  object  int64
                 ...     ...     ...     ...     ...     ...    ...
Dask Name: from-delayed, 3 tasks

In [9]:
df.to_records()

dask.array<to_records, shape=(nan,), dtype=(numpy.record, [(u'index', '<i8'), (u'id', '<i8'), (u'name', 'O'), (u'addr', 'O'), (u'city', 'O'), (u'phone', 'O'), (u'type', 'O'), (u'class', '<i8')]), chunksize=(nan,)>

In [10]:
da = df.to_records()

In [44]:
from dask.base import tokenize
from dask.array import Array
def diag(v):
    """Construct a diagonal array, with ``v`` on the diagonal."""
    assert v.ndim == 1
    chunks = (v.chunks[0], v.chunks[0])  # repeat chunks twice

    name = 'diag-' + tokenize(v)  # unique identifier
    print "print"
    print v
    for i in range(len(v.chunks[0])):
                   print v.chunks[0][i]
    dsk = {(name, i, j): (0,0)
            for i in range(2)
            for j in range(2)}        
#     dsk = {(name, i, j): (np.diag, (v.name, i))
#                          if i == j else
#                          (np.zeros, (v.chunks[0][i], v.chunks[0][j]))
#             for i in range(len(v.chunks[0]))
#             for j in range(len(v.chunks[0]))}

    dsk.update(v.dask)  # include dask graph of the input
    print dsk
    dtype = v.dtype     # output has the same dtype as the input

    return Array(dsk, name, chunks, dtype)

In [46]:
M = diag(da)

print
dask.array<to_records, shape=(nan,), dtype=(numpy.record, [(u'index', '<i8'), (u'id', '<i8'), (u'name', 'O'), (u'addr', 'O'), (u'city', 'O'), (u'phone', 'O'), (u'type', 'O'), (u'class', '<i8')]), chunksize=(nan,)>
nan
{('from-delayed-c2df7d2a7d5f7603facbde0b0328e67a', 0): (<function check_meta at 0x10780a848>, 'pandas_read_text-28f9d8b8ac35c4ed26b2450b014da191', Empty DataFrame
Columns: [id, name, addr, city, phone, type, class]
Index: [], 'from_delayed'), ('diag-c62433daa0a0720461c1a19e07876e8d', 0, 1): (0, 0), 'pandas_read_text-28f9d8b8ac35c4ed26b2450b014da191': (<built-in function apply>, <function pandas_read_text at 0x107a04aa0>, [<function read_csv at 0x107031c80>, 'read-block-0-af049fc4844e3c516b5069fd3215a27a', 'id,name,addr,city,phone,type,class\n', (<type 'dict'>, []), (<type 'dict'>, [['city', dtype('O')], ['addr', dtype('O')], ['class', dtype('int64')], ['phone', dtype('O')], ['type', dtype('O')], ['id', dtype('int64')], ['name', dtype('O')]]), ['id', 'name', 'addr', 'city', 'phone', 'type', 'class']], (<type 'dict'>, [['write_header', False], ['enforce', False]])), ('diag-c62433daa0a0720461c1a19e07876e8d', 0, 0): (0, 0), ('to_records-26564c05911130d949a6a3d21198b1d1', 0): (<function apply_and_enforce at 0x10783f2a8>, <methodcaller: to_records>, [('from-delayed-c2df7d2a7d5f7603facbde0b0328e67a', 0)], {}, rec.array([],
          dtype=[(u'index', '<i8'), (u'id', '<i8'), (u'name', 'O'), (u'addr', 'O'), (u'city', 'O'), (u'phone', 'O'), (u'type', 'O'), (u'class', '<i8')])), ('diag-c62433daa0a0720461c1a19e07876e8d', 1, 0): (0, 0), 'read-block-0-af049fc4844e3c516b5069fd3215a27a': (<function read_block_from_file at 0x107a042a8>, <dask.bytes.core.OpenFile object at 0x1047c20d0>, 0, 64000000, '\n'), ('diag-c62433daa0a0720461c1a19e07876e8d', 1, 1): (0, 0)}

In [47]:
M.compute()

IndexError: tuple index out of range

In [43]:
M = diag(x)

print
dask.array<arange, shape=(9,), dtype=int64, chunksize=(2,)>
2
3
4

In [55]:
import re
def is_first_char_capitalised(word):
    words = word.split(" ")
    for w in words:
        if w[0].islower() or (not re.match("^[a-zA-Z -]*$", word)):
            return 0

    return 1

In [56]:
is_first_char_capitalised("Asia-Pacific")

1

In [57]:
s= "ABN Amro 's operations in the Netherlands and the United Kingdom will be hardest hit"

In [64]:
def has_keywords_before(word, word_context):
    keywords = ["at", "in"]

    previous_word = get_previous_word(word, word_context)
    print previous_word
    if not previous_word:
        return 0

    if previous_word in keywords:
        return 1

    previous_previous_word = get_previous_word(previous_word, word_context)
    print previous_previous_word
    if previous_previous_word:
        return 1 if previous_previous_word in keywords else 0

    return 0

In [65]:
has_keywords_before("United Kingdom", s)

the
in

1

In [66]:
import nltk
tag = nltk.pos_tag(["US"])

ImportError: No module named nltk

In [60]:
def get_previous_word(word, line):
    index = line.index(word)
    if index == 0:
        return None

    words_before = line[:index-1].split(" ")
    return words_before[-1]

In [67]:
import random
def random_subset(iterator, K ):
    result = []
    N = 0

    for item in iterator:
        N += 1
        if len( result ) < K:
            result.append( item )
        else:
            s = int(random.random() * N)
            if s < K:
                result[ s ] = item

    return result

In [70]:
random_subset([1,2,3,4,5,6,7,8,9], 3 )

[8, 2, 4]

In [74]:
list(set([1,2,3,4,5,6,7,8,9]) - set([2,3]))

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [75]:
def unwanted_words(word):
    for x in word:
        if not x.isalpha() and not x.isspace():
            return 1

    negative = ["Sunday", "Saturday", "Monday","Tuesday","Wednesday", "Thursday", "Friday", "January", "February",
                "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]
    return 1 if word in negative else 0

In [78]:
unwanted_words("2003 due")

1

In [79]:
def is_first_char_capitalised(word):
    words = word.split(" ")
    for w in words:
        if w[0].islower() or (not re.match("^[a-zA-Z ]*$", word)):
            return 0

    return 1

In [80]:
is_first_char_capitalised("2003 due")

0